entrypoint = "README.txt"
modules = ["python-3.12"]
run = "nikola build && nikola serve -b -a 0.0.0.0"
# run = "nikola auto --browser --address='0.0.0.0' --port='8080'"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "nikola build && nikola serve -b"]

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 80
